.profile {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: end;
  align-items: center;
  gap: 2rem;
}

.profile img {
  width: 5.4rem;
  height: 5.4rem;
}

.profile p {
  white-space: nowrap;
}

.profile p:first-of-type {
  text-align: right;
}
