.themeSwitcher {
  display: flex;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: rotate(-180deg);
  color: var(--color-tertiary-darkest);
  transition: color 0.3s ease;
}

:global(.light-mode) .themeSwitcher {
  color: var(--color-tertiary-lighter);
}

@media screen and (min-width: 750px) {
  .themeSwitcher {
    writing-mode: vertical-rl;
    flex-direction: row;
    gap: 1rem;
  }
}

.themeSwitcher:hover,
.themeSwitcher:hover :global(.svg),
:global(.light-mode) .themeSwitcher:hover :global(.svg) {
  color: var(--color-secondary);
}

.themeSwitcher:hover :global(.moon) {
  transform: rotate(720deg);
}

.themeSwitcher:hover :global(.sun) {
  transform: rotate(360deg);
}

.themeSwitcherHeading {
  display: none;
}

@media screen and (min-width: 750px) {
  .themeSwitcherHeading {
    display: block;
  }
}

.themeSwitcher :global(.svg) {
  width: 4rem;
  color: var(--color-tertiary-darkest);
  transition: color 0.3s ease;
}

:global(.light-mode) .themeSwitcher :global(.svg) {
  color: var(--color-tertiary-lighter);
}

.themeSwitcher :global(.moon),
.themeSwitcher :global(.sun) {
  transition: transform 0.5s ease;
}
