.embla {
  padding: 0 0 6rem;
  margin-top: 6rem;
  position: relative;
}

@media screen and (min-width: 500px) {
  .embla {
    padding: 0 0 8rem;
  }
}

@media screen and (min-width: 750px) {
  .embla {
    margin-top: 10rem;
  }
}

@media screen and (min-width: 990px) {
  .embla {
    padding: 0 10rem 14rem;
  }
}

@media screen and (min-width: 1200px) {
  .embla {
    padding: 0 14rem 14rem;
  }
}

@media screen and (min-width: 1500px) {
  .embla {
    padding: 0 18rem 16rem;
  }
}

.emblaContainer {
  margin-left: -2rem;
}

@media screen and (min-width: 990px) {
  .emblaContainer {
    margin-left: 0;
  }
}

.emblaSlide {
  width: 100%;
  padding: 4rem 0;
  padding-left: 2rem;
}

@media screen and (min-width: 990px) {
  .emblaSlide {
    padding: 4rem;
  }
}

.emblaSlide h3 {
  font-family: var(--font-advent-pro);
  text-align: center;
  color: var(--color-tertiary-darkest);
  opacity: 0.5;
}

.emblaSlideIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 2rem;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .emblaSlideIntro {
    flex-direction: row;
    justify-content: space-between;
    text-align: unset;
    margin-top: 6rem;
  }
}

.emblaSlideIntro h5 {
  color: var(--color-tertiary-darkest);
}

.emblaSlideIntroLeft,
.emblaSlideIntroRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

@media screen and (min-width: 750px) {
  .emblaSlideIntroRight {
    align-items: end;
  }

  .emblaSlideIntroLeft {
    align-items: flex-start;
  }
}

.emblaSlideDetails {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 400px) {
  .emblaSlideDetails {
    margin-top: 6rem;
    gap: 4rem;
  }
}

.emblaSlideDetails li {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  line-height: 160%;
}

@media screen and (min-width: 400px) {
  .emblaSlideDetails li {
    flex-direction: row;
  }
}

@media screen and (min-width: 750px) {
  .emblaSlideDetails li {
    gap: 3rem;
  }
}

.emblaSlideDetails li svg {
  flex-shrink: 0;
}

.emblaButtons {
  top: unset;
  left: 0;
  bottom: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  display: none;
}

@media screen and (min-width: 990px) {
  .emblaButtons {
    display: flex;
  }
}

.emblaButtons svg {
  width: 8rem;
  height: auto;
}

@media screen and (min-width: 1200px) {
  .emblaButtons svg {
    width: 11rem;
  }
}

@media screen and (min-width: 2000px) {
  .emblaButtons svg {
    width: 12rem;
  }
}

.emblaButtons :global(.embla__button--prev),
.emblaButtons :global(.embla__button--next) {
  width: unset;
}

.emblaDots {
  bottom: 4rem;
  gap: 3.2rem;
}

@media screen and (min-width: 500px) {
  .emblaDots {
    gap: 6rem;
  }
}

@media screen and (min-width: 990px) {
  .emblaDots {
    bottom: 8rem;
    gap: 10rem;
  }
}

.emblaDots :global(.embla__dot) {
  position: relative;
  margin: 0;
  transition: all 0.2s 0.4s ease-in;
  width: 2.2rem;
  height: 2.2rem;
}

@media screen and (min-width: 500px) {
  .emblaDots :global(.embla__dot) {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media screen and (min-width: 750px) {
  .emblaDots :global(.embla__dot) {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (min-width: 2000px) {
  .emblaDots :global(.embla__dot) {
    width: 3.4rem;
    height: 3.4rem;
  }
}

.emblaDots :global(.embla__dot):hover {
  border-color: var(--color-secondary) !important;
}

.emblaDots :global(.embla__dot)::before {
  content: '';
  width: 3.2rem;
  left: -3.2rem;
  height: 1px;
  background-color: var(--color-secondary);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.4s var(--cubic-bezier);
}

@media screen and (min-width: 500px) {
  .emblaDots :global(.embla__dot)::before {
    width: 6rem;
    left: -6rem;
  }
}

@media screen and (min-width: 990px) {
  .emblaDots :global(.embla__dot)::before {
    width: 10rem;
    left: -10rem;
  }
}

.emblaDots :global(.embla__dot):first-of-type:before {
  display: none;
}

.emblaDots :global(.embla__dot):last-of-type::after,
.emblaDots :global(.embla__dot):first-of-type::after {
  content: 'latest';
  position: absolute;
  right: -1.2rem;
  top: 50%;
  transform: translateY(140%);
  color: var(--color-tertiary-darker);
  font-size: 1.4rem;
  font-family: var(--font-comfortaa);
}

@media screen and (min-width: 2000px) {
  .emblaDots :global(.embla__dot):last-of-type::after,
  .emblaDots :global(.embla__dot):first-of-type::after {
    font-size: 1.5rem;
  }
}

.emblaDots :global(.embla__dot):first-of-type::after {
  content: 'oldest';
  right: unset;
  transform: translateY(140%);
  left: -1.2rem;
}

@media screen and (min-width: 400px) {
  .emblaDots :global(.embla__dot):first-of-type::after {
    transform: translateY(-50%) translateX(-100%);
  }

  .emblaDots :global(.embla__dot):last-of-type::after {
    transform: translateY(-50%) translateX(100%);
  }
}

.emblaDots :global(.embla__dot--selected) ~ :global(.embla__dot) {
  border-color: var(--color-tertiary-darker);
}

.emblaDots :global(.embla__dot--selected) ~ :global(.embla__dot)::before {
  width: 0;
}

.emblaDots :global(.embla__dot--selected)::before {
  width: 3.2rem;
}

@media screen and (min-width: 500px) {
  .emblaDots :global(.embla__dot--selected)::before {
    width: 6rem;
  }
}

@media screen and (min-width: 990px) {
  .emblaDots :global(.embla__dot--selected)::before {
    width: 10rem;
  }
}
