.menuModal {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 990px) {
  .menuModal {
    justify-content: flex-start;
    align-items: start;
  }
}

.menuModalBackground {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.menuModal :global(.menu) svg path {
  animation: none;
  stroke-dashoffset: 0;
}

@media screen and (min-width: 990px) {
  .menuModal .menuModalSocial {
    margin-top: auto;
  }
}

.marqueeWrapper {
  display: none;
}

@media screen and (min-width: 990px) {
  .marqueeWrapper {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    width: 38rem; /* 20rem + the width of the absolutely positioned image */
    height: 100%;
  }
}

.menuModalLinksWrapper {
  width: 100%;
  margin: auto 0;
}

@media screen and (min-width: 990px) {
  .menuModalLinksWrapper {
    width: unset;
    margin: unset;
  }
}

.menuModal .marquee {
  width: inherit;
  right: 0;
  top: 10rem;
  overflow-x: visible;
  margin-left: auto;
}

.marqueeItem {
  width: 20rem;
  aspect-ratio: 1/1;
  position: relative;
  margin: 0 1rem;
}

.marqueeItemImage {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-tertiary-darkest);
  transition: all 0.2s ease-in;
}

.marqueeItemImage:hover {
  border-color: var(--color-secondary);
}
