.horizontalLine {
  pointer-events: none;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid var(--color-primary-lighter);
  border-radius: 100%;
  z-index: 1;
}

@media screen and (min-width: 750px) {
  .horizontalLine {
    display: block;
  }
}
