@media screen and (min-width: 750px) {
  .contactWrapperFooter {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media screen and (min-width: 990px) {
  .contactWrapperFooter {
    right: 2rem;
  }
}

.projectNotFound {
  margin-top: 10rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
