.techStackWrapper {
  position: relative;
  padding-top: 4rem;
}

.techStackWrapper h2 {
  position: absolute;
  top: 0;
  left: 50%;
  color: var(--color-tertiary-darkest);
  text-align: center;
}

@media screen and (min-width: 990px) {
  .techStackWrapper h2 {
    top: unset;
    bottom: 0;
    transform: translateY(100%);
  }
}

.techStack {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 3rem;
}

@media screen and (min-width: 750px) {
  .techStack {
    column-gap: 1rem;
  }
}

.techStack img {
  height: 4rem;
  width: 4rem;
}

.techStack h5 {
  font-size: 1.4rem;
}
