.force-graph-section {
  position: relative;
  width: 100%;
  aspect-ratio: 3/2;
  box-sizing: border-box;
  max-width: 1500px;
  margin: 4rem auto 0;
}

.force-graph-section--initial {
  border: 2px solid var(--color-primary-lighter);
  background-color: var(--color-primary);
}

.force-graph-button.render {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.force-graph-button.render span {
  color: var(--color-primary-lighter);
}

.force-graph-button.reset {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  display: flex;
}

.force-graph-container {
  position: relative;
  width: inherit;
}

.force-graph-container canvas {
  border: 2px solid var(--color-primary-lighter);
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}
