.menu {
  display: inline-block;
  color: var(--color-tertiary-darker);
  position: relative;
  width: 100%;
  z-index: 2;
}

@media screen and (min-width: 990px) {
  .menu {
    width: auto;
  }
}

.menuHeader {
  margin: auto 0;
}

@media screen and (min-width: 990px) {
  .menuHeader {
    margin: unset;
  }
}

.menu ul {
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
  font-family: var(--font-advent-pro);
  align-items: center;
}

@media screen and (min-width: 990px) {
  .menu ul {
    align-items: flex-start;
  }
}

.menuLink {
  position: relative;
  display: inline-block;
}

.menuLinkTextClipped {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.menuLinkText svg path {
  stroke: var(--color-tertiary-darkest);
}

.menuLinkText svg path,
.menuLinkTextActive svg path {
  transition: stroke 1s 0.2s ease;
}

.menuLink:hover svg path,
.menuLinkTextActive svg path {
  stroke: var(--color-secondary) !important;
}

.menuImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 150%;
  height: 150%;
  background-size: contain;
  background-repeat: repeat-x;
  transition: background-position 1s ease;
}
