.menu {
  display: inline-block;
  color: var(--color-tertiary-darker);
  position: relative;
}

.menu ul {
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
  font-family: var(--font-advent-pro);
}

.menuLink {
  position: relative;
  display: inline-block;
}

/* .menuLink svg {
  display: inline-block;
} */

.menuLinkTextClipped {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.menuLinkText svg path {
  stroke: var(--color-tertiary-darkest);
}

.menuLinkText svg path,
.menuLinkTextActive svg path {
  transition: all 0.4s ease;
}

.menuLink:hover svg path,
.menuLinkTextActive svg path {
  stroke: var(--color-secondary);
}

.menuImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 150%;
  height: 150%;
  background-size: contain;
  background-position: 0px 120px;
  background-repeat: repeat-x;
  background-image: url('../../../public/wave.svg');
  transition: background-position 1s ease;
}

.menuLink:hover .menuImage,
.menuImageVisible {
  animation: filling 18s infinite;
}

.menuLinkText path {
  stroke-dasharray: 400;
  stroke-dashoffset: 100%;
  stroke-linecap: round;
}

.menuLinkText path:nth-child(1) {
  animation: drawLines 2s ease forwards 1s;
}

.menuLinkText path:nth-child(2) {
  animation: drawLines 2s ease forwards 1.1s;
}

.menuLinkText path:nth-child(3) {
  animation: drawLines 2s ease forwards 1.2s;
}

.menuLinkText path:nth-child(4) {
  animation: drawLines 2s ease forwards 1.3s;
}

.menuLinkText path:nth-child(5) {
  animation: drawLines 2s ease forwards 1.4s;
}

.menuLinkText path:nth-child(6) {
  animation: drawLines 2s ease forwards 1.5s;
}

.menuLinkText path:nth-child(7) {
  animation: drawLines 2s ease forwards 1.6s;
}

.menuLinkText path:nth-child(7) {
  animation: drawLines 2s ease forwards 1.7s;
}

.menuLinkText path:nth-child(8) {
  animation: drawLines 2s ease forwards 1.8s;
}

.menuLinkText path:nth-child(9) {
  animation: drawLines 2s ease forwards 1.9s;
}

.menuLinkText path:nth-child(10) {
  animation: drawLines 2s ease forwards 2s;
}

@keyframes drawLines {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes filling {
  30% {
    background-position: -50px -30px;
  }
  95% {
    background-position: 2000px 80px;
  }
  100% {
    background-position: 2000px 120px;
  }
}
