.carouselsWrapper {
  margin-top: 8rem;
  position: relative;
}

@media screen and (min-width: 750px) {
  .carouselsWrapper {
    margin-top: 12rem;
  }
}

.carouselsWrapperHeading {
  padding: 2rem 0;
  color: var(--color-tertiary-darkest);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 750px) {
  .carouselsWrapperHeading {
    width: 60%;
  }
}

.carouselsWrapperHeading p {
  display: none;
}

@media screen and (min-width: 990px) {
  .carouselsWrapperHeading p {
    display: flex;
    align-items: center;
    gap: 1.4rem;
  }
}

.mainEmbla {
  padding: 0;
  background-color: var(--color-primary);
}

@media screen and (min-width: 750px) {
  .mainEmbla {
    width: 95%;
  }
}

@media screen and (min-width: 990px) {
  .mainEmbla {
    width: 75%;
  }
}

.mainEmblaViewport {
  height: 100%;
  width: calc(100% + var(--container-horizontal-padding-mobile));
}

@media screen and (min-width: 750px) {
  .mainEmblaViewport {
    width: unset;
  }
}

.mainEmblaContainer {
  height: 100%;
  margin-left: 0;
  margin-left: calc(1.2rem * -1);
}

@media screen and (min-width: 750px) {
  .mainEmblaContainer {
    margin-left: calc(2rem * -1);
  }
}

.mainEmblaSlide {
  padding-left: 1.2rem;
  margin: 0;
  flex: 0 0 60%;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 500px) {
  .mainEmblaSlide {
    flex: 0 0 40%;
  }
}

@media screen and (min-width: 750px) {
  .mainEmblaSlide {
    padding-left: 2rem;
    flex: 0 0 100%;
  }
}

.mainEmblaSlide:last-of-type {
  margin-right: calc(100% - 60%);
}

@media screen and (min-width: 500px) {
  .mainEmblaSlide:last-of-type {
    margin-right: calc(100% - 40%);
  }
}

@media screen and (min-width: 750px) {
  .mainEmblaSlide:last-of-type {
    margin-right: unset;
  }
}

.mainEmblaSlideActive .mainEmblaSlideContent {
  border-color: var(--color-secondary);
}

.mainEmblaSlideContent {
  border: 1px solid var(--color-tertiary-darkest);
  border-radius: 1rem;
  height: inherit;
  padding: 1rem;
  transition: border 0.2s ease-in;
}

:global(.light-mode) .mainEmblaSlideContent {
  border-width: 2px;
}

.mainEmblaSlideContent img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.mainEmblaButtons {
  display: none;
}

@media screen and (min-width: 990px) {
  .mainEmblaButtons {
    position: absolute;
    bottom: 4rem;
    right: 0;
    top: unset;
    left: unset;
    display: flex;
    gap: 4rem;
    justify-content: center;
    width: calc(25% - var(--container-horizontal-padding));
  }
}

.mainEmblaButtons button {
  object-fit: contain;
  width: 8rem;
}

@media screen and (min-width: 1200px) {
  .mainEmblaButtons button {
    width: 10rem;
  }
}

.thumbsEmbla {
  visibility: hidden;
  pointer-events: none;
  width: 40%;
  position: absolute;
  padding: 1rem;
  padding-right: 0;
  top: 0;
  right: 0;
  transform: translateX(var(--container-horizontal-padding));
  border-radius: 1rem;
}

@media screen and (min-width: 750px) {
  .thumbsEmbla {
    visibility: visible;
    pointer-events: all;
  }
}

.thumbsEmblaBackground {
  background-color: var(--color-primary);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.thumbsEmblaContainer {
  margin-left: calc(1rem * -1);
}

@media screen and (min-width: 990px) {
  .thumbsEmblaContainer {
    margin-left: calc(1.6rem * -1);
  }
}

.thumbsEmblaSlide {
  flex: 0 0 55%;
  padding-left: 1rem;
}

@media screen and (min-width: 990px) {
  .thumbsEmblaSlide {
    flex: 0 0 45%;
    padding-left: 1.6rem;
  }
}

.thumbsEmblaSlide:last-of-type {
  margin-right: calc(100% - 45%);
}

.thumbsEmblaSlide img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.thumbsEmblaSlideActive button,
.thumbsEmblaSlideContent:hover {
  border: 1px solid var(--color-secondary);
}

:global(.light-mode) .thumbsEmblaSlideActive button,
:global(.light-mode) .thumbsEmblaSlideContent:hover {
  border: 2px solid var(--color-secondary);
}

.thumbsEmblaSlideContent {
  border-radius: 1rem;
  border: 1px solid var(--color-tertiary-darkest);
  height: inherit;
  width: 100%;
  color: inherit;
  transition: border 0.2s ease-in;
  padding: 1rem;
}

:global(.light-mode) .thumbsEmblaSlideContent {
  border: 2px solid var(--color-tertiary-lighter);
}
