:root {
  --color-primary-lighter: #282d35;
  --color-primary: #14191f;
  --color-secondary: #8e8106;
  --color-secondary-darker: #373716;
  --color-tertiary-lighter: #ffffff;
  --color-tertiary: #e1e1e1;
  --color-tertiary-darker: #7c7c7c;
  --color-tertiary-darkest: #676767;

  --container-horizontal-padding: 3rem;
  --container-horizontal-padding-mobile: 1.6rem;

  /* --bp-huge: 1500px;
  --bp-big: 1200px;
  --bp-medium: 990px;
  --bp-small: 750px;
  --bp-tiny: 500px; */

  --cubic-bezier: cubic-bezier(0.82, 0.03, 0.54, 0.2);
}

html {
  font-size: 62.5%;
  background-color: var(--color-primary);
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  color: var(--color-tertiary);
  font-size: 1.6rem;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(--font-comfortaa);
  scrollbar-gutter: stable;
}

.frozen {
  overflow: hidden;
}

h1,
.h1 {
  font-size: 3.6rem;
  font-family: var(--font-advent-pro);
}

@media screen and (min-width: 750px) {
  h1,
  .h1 {
    font-size: 4.2rem;
  }
}

h2,
.h2 {
  font-size: 3rem;
  font-family: var(--font-advent-pro);
}

@media screen and (min-width: 750px) {
  h2,
  .h2 {
    font-size: 3.8rem;
  }
}

h3,
.h3 {
  font-size: 2.2rem;
}

@media screen and (min-width: 750px) {
  h3,
  .h3 {
    font-size: 2.4rem;
  }
}

h4,
.h4 {
  font-size: 1.8rem;
}

h5,
.h5 {
  font-size: 1.6rem;
}

h6,
.h6,
small {
  font-size: 1.4rem;
}

.d1 {
  font-size: 6.6rem;
}

@media screen and (min-width: 750px) {
  .d2 {
    font-size: 10.6rem;
  }
}

.d2 {
  font-size: 3.8rem;
}

@media screen and (min-width: 750px) {
  .d2 {
    font-size: 6.4rem;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.d1,
.d2 {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

.plain-link {
  color: var(--color-tertiary-darkest);
  transition: color 0.2s ease-in;
}

.plain-link:hover {
  color: var(--color-secondary);
}

.wide-container {
  max-width: 2000px;
  margin: 0 auto;
  padding: var(--container-horizontal-padding-mobile);
}

@media screen and (min-width: 750px) {
  .wide-container {
    padding: var(--container-horizontal-padding);
  }
}

.narrow-container {
  max-width: 1300px;
  margin: 0 auto;
}

.section {
  padding-top: 2rem;
  padding-bottom: 14rem;
  position: relative;
}

#home {
  overflow: hidden;
  position: relative;
}

#home .section {
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 990px) {
  #home .section {
    display: block;
  }
}

#portfolio.section {
  margin-top: 14rem;
}

#tech-stack.section {
  position: relative;
}

.outlined-text {
  color: transparent;
  -webkit-text-stroke: 1.5px var(--color-tertiary-darker);
  transition: all 0.3s ease-out;
  display: inline-block;
}

.outlined-text:hover,
.outlined-text--active {
  color: var(--color-secondary);
  -webkit-text-stroke: 1px var(--color-secondary);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary); /* color of the scroll thumb */
  width: 4px;
}

.svg {
  color: var(--color-secondary);
  transition: color 0.2s ease-in;
}

.svg:hover {
  color: var(--color-tertiary);
}

/*  custom cursor */

.outer-cursor-wrapper,
.inner-cursor-wrapper {
  pointer-events: none;
  position: fixed;
  width: 4rem;
  height: 4rem;
  top: -2rem;
  left: -2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: 0.15s;
}

.inner-cursor-wrapper {
  transition: 0.1s;
}

.outer-cursor {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-secondary);
  opacity: 0.4;
  border-radius: 50%;
  transition: opacity 0.4s ease;
}

.inner-cursor {
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--color-secondary);
  opacity: 0.5;
  border-radius: 50%;
  transition: opacity 0.4s ease;
}

.cursor--opaque {
  opacity: 0;
}

/* applied to elements that want to hide custom cursor on hover */

.hide-cursor {
}

/* form elements */

.input-wrapper {
  position: relative;
}

.input,
.textarea {
  font-family: inherit;
  position: relative;
  color: var(--color-secondary);
  font-size: 1.6rem;
  padding: 1rem 1.4rem;
  width: 100%;
  background-color: var(--color-primary);
  border: transparent;
  outline: none;
  box-sizing: border-box;
}

.input::placeholder,
.textarea::placeholder {
  visibility: hidden;
}

.textarea {
  resize: none;
}

.input::placeholder,
.textarea::placeholder {
  /* opacity: 0; */
  color: white;
}

.input ~ label,
.textarea ~ label {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(1.4rem, 1rem);
  transition: all 0.4s ease;
  pointer-events: none;
}

.input-wrapper span::before,
.input-wrapper span::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 1px;
  background-color: var(--color-tertiary);
  width: 100%;
}

.input-wrapper span::after {
  width: 0;
  background-color: var(--color-secondary);
  transition: width 0.4s ease;
}

.input-focused ~ label,
.input-focused ~ label {
  transform: translateY(calc(-100% - 0.8rem));
  font-size: 1.4rem;
}

.input:focus ~ span::after,
.input:focus-within span::after,
.textarea:focus ~ span::after,
.textarea:focus-within span::after {
  width: 100%;
}
