:root {
  --color-primary-lighter: #2d343e;
  --color-primary: #14191f;
  --color-secondary: #8e8106;
  --color-secondary-darker: #373716;
  --color-tertiary-lighter: #ffffff;
  --color-tertiary: #e1e1e1;
  --color-tertiary-darker: #7c7c7c;
  --color-tertiary-darkest: #676767;
}

html {
  font-size: 62.5%;
  background-color: var(--color-primary);
  scroll-behavior: smooth;
}

body {
  color: var(--color-tertiary);
  font-size: 1.6rem;
  min-height: 100vh;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 3.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6,
small {
  font-size: 1.4rem;
}

.d1 {
  font-size: 9.6rem;
}

.d2 {
  font-size: 6.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.d1,
.d2 {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

.wide-container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 3rem;
}

.narrow-container {
  max-width: 1400px;
  margin: 0 auto;
}

.section {
  min-height: 100vh;
  padding-top: 6rem;
}

.section:first-of-type {
  padding-top: 0;
}

.outlined-text {
  color: transparent;
  -webkit-text-stroke: 1px var(--color-tertiary);
  transition: all 0.3s ease-out;
}

.outlined-text:hover,
.outlined-text--active {
  color: var(--color-secondary);
  -webkit-text-stroke: 1px var(--color-secondary);
}
