.socialWrapper {
  margin-top: auto;
}

@media screen and (min-width: 990px) {
  .socialWrapper {
    margin-top: unset;
    position: absolute;
    top: 2.4rem;
    right: 3rem;
  }
}

.contactWrapper {
  display: none;
}

.contactWrapperFooter {
}

@media screen and (min-width: 750px) {
  .contactWrapper,
  .contactWrapperFooter {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media screen and (min-width: 990px) {
  .contactWrapper,
  .contactWrapperFooter {
    right: 2rem;
  }
}

.profileWrapper {
  display: none !important;
}

@media screen and (min-width: 990px) {
  .profileWrapper {
    display: block !important;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(-50%);
  }
}

.logoWrapper {
  display: none !important;
}

@media screen and (min-width: 990px) {
  .logoWrapper {
    display: block !important;
    position: absolute;
    left: 50%;
    top: 3rem;
    transform: translateX(-50%);
  }
}

.arrowWrapper {
  display: none;
}

@media screen and (min-width: 750px) {
  .arrowWrapper {
    display: block;
    position: absolute;
    left: 4rem;
    bottom: 3rem;
  }
}
