.button {
  background-color: transparent;
  cursor: pointer;
  font: inherit;
}

.buttonPrimary {
  background-color: var(--color-primary);
  font-size: 1.4rem;
  padding: 1.4rem 2.6rem;
  border: 1px solid var(--color-tertiary-darker);
  color: var(--color-secondary);
  transition: all 0.2s ease-in;
}

.buttonPrimary:hover {
  border: 1px solid var(--color-secondary);
}
