.description {
  margin-top: 12rem;
  font-family: var(--font-advent-pro);
  position: relative;
}

.description p {
  margin-top: 10rem;
  line-height: 150%;
}

.descriptionTextWrapper,
.descriptionMaskedTextWrapper {
  pointer-events: none;
  position: relative;
  z-index: 1;
}

.descriptionMaskedTextWrapper {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  -webkit-mask-image: url(../../../public/patryk-image-small.jpg);
  mask-image: url(../../../public/patryk-image-small.jpg);
  -webkit-mask-size: 42rem;
  mask-size: 42rem;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.descriptionImage {
  transition: opacity 0.4s ease-in;
  position: absolute;
  top: 0px;
  left: 0px;
}

.descriptionImage::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.descriptionImage img {
  width: 42rem;
  height: auto;
}

.descriptionMaskedTextWrapper p {
  color: var(--color-secondary);
  pointer-events: none;
  transition: color 0.4s ease-in;
}

.descriptionImage:hover::after {
  opacity: 0.4;
}

.descriptionImage:hover ~ div p {
  color: inherit;
}

.descriptionMaskedTextWrapper p:first-of-type {
  margin-top: 0;
}
