.description {
  margin-top: 6rem;
  font-family: var(--font-advent-pro);
  position: relative;
}

@media screen and (min-width: 750px) {
  .description {
    margin-top: 12rem;
  }
}

.description p {
  margin-top: 4rem;
  line-height: 150%;
}

@media screen and (min-width: 750px) {
  .description p {
    margin-top: 10rem;
  }
}

.descriptionTextWrapper,
.descriptionMaskedTextWrapper {
  pointer-events: none;
  position: relative;
  z-index: 1;
}

.descriptionMaskedTextWrapper {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);

  -webkit-mask-image: url(../../../public/patryk/patryk-image-small.webp);
  mask-image: url(../../../public/patryk/patryk-image-small.webp);
  -webkit-mask-size: 30rem;
  mask-size: 30rem;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  display: none;
}

@media screen and (min-width: 750px) {
  .descriptionMaskedTextWrapper {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .descriptionMaskedTextWrapper {
    -webkit-mask-size: 34rem;
    mask-size: 34rem;
  }
}

@media screen and (min-width: 1500px) {
  .descriptionMaskedTextWrapper {
    -webkit-mask-size: 42rem;
    mask-size: 42rem;
  }
}

.descriptionFloatingImage {
  transition: opacity 0.4s ease-in;
  width: 30rem;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

@media screen and (min-width: 1200px) {
  .descriptionFloatingImage {
    width: 34rem;
  }
}

@media screen and (min-width: 1500px) {
  .descriptionFloatingImage {
    width: 42rem;
  }
}

.descriptionFloatingImage img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 750px) {
  .descriptionFloatingImage {
    display: flex;
  }
}

.descriptionFloatingImage::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.descriptionMaskedTextWrapper p {
  color: var(--color-secondary);
  pointer-events: none;
  transition: color 0.4s ease-in;
}

.descriptionFloatingImage:hover::after {
  opacity: 0.4;
}

.descriptionFloatingImage:hover ~ div p {
  color: inherit;
}

.descriptionMaskedTextWrapper p:first-of-type {
  margin-top: 0;
}

.descriptionImage {
  width: 100%;
  margin-top: 6rem;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .descriptionImage {
    display: none;
  }
}

.descriptionImage img {
  width: 100%;
  max-width: 32rem;
  height: auto;
}
