.projectDescription {
}

.projectDescription h2 {
  color: var(--color-tertiary-darkest);
  padding-top: 6rem;
  text-align: center;
}

.projectDescription p {
  margin-top: 4rem;
  line-height: 140%;
}
